.td {
	text-align: center;
	font-size: 45px;
}
.choose{
  margin: 0.5em 1em;
  font-size: 2em;
}
.smallTd {
	font-size: 35px;
	text-decoration-style: solid;
	text-align: center;
}

td:active {
	background-color: #65cc9f;
	color: #000000;
}
td:hover {
	background-color: #4b4b49;
	color: #ffffff;
}

a:link {
	color: #112aa8;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: red;
	text-decoration: none;
}

a:hover {
	color: #d96e72;
	text-decoration: underline;
	font-weight: bold;
}

a:active {
	color: yellow;
	text-decoration: underline;
}
body {
	background-image: url();
	background-repeat: repeat-y;
	background-size: contain;
}

table {
	border: solid #e30003;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
select {
	border: none;
	outline: none;
  border-radius: 8px;
  background: #000000;
  color: #ffffff;
  padding: 0.3em 0.6em;
	margin-bottom: 0.4em;
  font-size: 1.2rem;
}
option{
	font-size: 0.8rem;
}

.toTop {
	position: fixed;
	background: #112aa8;
	color: white;
	bottom: 0;
	right: 0;
	margin: 1em;
	aspect-ratio: 1/1;
	padding: 2vw;
	font-size: 1.5rem;
	line-height: 100%;
	vertical-align: middle;
	border-radius: 100%;
	display: none;
	align-items: center;
	text-decoration: underline;
	cursor: grab;
}
